
@font-face {
  font-family: Blade-Runner ;
  src: url(./blade-runner/BLADRMF_.TTF);
}


.App {
  text-align: center;
  font-family: Blade-Runner, sans-serif;
  background-image: linear-gradient(90deg, rgb(72,0,42) 10%, rgb(239,70,40), rgb(240,142,36) 48%, rgb(247,168,34), rgb(190,200,144), rgb(113,191,146) 52%, rgb(113,191,146), rgb(103,183,168), rgb(0,3,60) 90%);
}
